<html>
<head>
    <title>Welcome to {{ ansible_hostname }}!</title>
</head>
<body>
    <h1>Success! The Apache server is working.</h1>
    <p>PHP Information:</p>
    <?php phpinfo(); ?>
</body>
</html>
